[2015-08-27 10:23] raphink opened #3 "Add missing facts"
Some facts are missing in this lib.

[2015-08-27 10:24] raphink commented on #3
Fixed in c5f061c1240b6a742d0630b7bba83f5b39feba29

[2015-08-27 10:24] #3 closed

[2015-08-31 07:24] mcanevet opened #8 "Filter should be also be an Array or a String"

[2015-08-31 07:24] mcanevet commented on #8
Fixed in https://github.com/camptocamp/facterdb/commit/dc3cfc3b4402a428099b7cfe00b441363bb523c8

[2015-08-31 07:24] #8 closed

[2015-08-31 07:24] mcanevet opened #9 "Add CLI"

[2015-08-31 07:25] mcanevet commented on #9
Fixed in https://github.com/camptocamp/facterdb/commit/3c9b5bb3a374290fe3258619b90c5e6665f020ab

[2015-08-31 07:25] #9 closed

[2015-08-31 07:25] mcanevet opened #10 "Fix project homepage"

[2015-08-31 07:25] mcanevet commented on #10
Fixed in https://github.com/camptocamp/facterdb/commit/7cc31a371fbee8b70f87dadbf00ba761da21e179

[2015-08-31 07:25] #10 closed

[2015-08-31 08:40] mcanevet opened #13 "Tag 0.2.0 does not point to the right commit..."

[2015-08-31 08:42] mcanevet commented on #13
New release will fix this

[2015-08-31 08:42] #13 closed

[2015-11-09 10:07] domcleal opened #14 "centos-7-x86 facts in 0.2.2 changed to AIO"
There seems to be a difference in the `facts/2.4/centos-7-x86_64.facts` file between facterdb 0.2.1 and the latest 0.2.2 and 0.3.0 releases.  The facts appear to have been regenerated using an AIO installation, which is causing us some failures in theforeman/foreman_proxy.

The GitHub repo though doesn't show these changes, so I wonder if there are local modifications that made it into the publish

[2015-11-09 11:19] mcanevet commented on #14
Hmmm, I changed to script that generates the facts to use the ruby provided by puppet AIO package instead off all the mess here: https://github.com/camptocamp/facterdb/commit/e9e7dc75112a3e91f206587e93fed2af0a5f4475

So the problem is that `rubysitedir` is not the one you expect?

[2015-11-09 11:55] domcleal commented on #14
Yes, I suppose it simply came as a surprise to see it change for that OS on pre-existing tests.  Now I think about it more, that's inevitable as AIO becomes the standard and you update the facts for the OS.  As you add a new set of facts for a new facterversion, what's returned by r-p-f will change.

I wonder if it's feasible to not ever refresh facts (esp between non-AIO and AIO) for a given fact

[2015-11-09 12:24] mcanevet commented on #14
Isn't it possible to populate it at runtime in rspec-puppet-facts like I do for `augeasversion`, `rubyversion` and `puppetversion` https://github.com/mcanevet/rspec-puppet-facts/blob/master/lib/rspec-puppet-facts.rb#L45-L49?

[2015-11-09 15:35] mcanevet commented on #14
@domcleal what do you think of that https://github.com/mcanevet/rspec-puppet-facts/pull/19 ?

[2015-11-10 09:08] domcleal commented on #14
I don't think overwriting it from r-p-f is going to help much, since it's probably just going to change it to an RVM path or something about where the tests are run rather than the Puppet/Facter packages that were used.

Let me close this issue because I think we need to do it via merging/stubbing of the facts in our test.  I'm not sure that we can assume which type of packages these facts use.

[2015-11-10 09:08] #14 closed

[2015-11-10 09:17] ekohl commented on #14
@mcanevet maybe a more generic override framework would also solve https://github.com/mcanevet/rspec-puppet-facts/issues/14

[2015-11-12 06:32] mcanevet commented on #14
@ekohl I'm not sur how to implement this, but PR welcome :-)
@domcleal I release `rspec-puppet-facts` 1.3.0 that dynamically set rubysitedir, does it solve your problem?

[2015-11-12 08:34] domcleal commented on #14
@mcanevet yes it does, thank you.  I'm still not sure that we should be relying on it, as I suspect it's now setting the rubysitedir to /home/dcleal/.rvm rather than either /usr/lib or /opt/puppetlabs, but it is fixing the tests.

[2015-11-12 09:27] ekohl commented on #14
@mcanevet what would be the correct place to discuss the issue? I'm quite sure it's not here :)

[2015-11-12 09:39] mcanevet commented on #14
@ekohl probably here https://github.com/mcanevet/rspec-puppet-facts/issues/14

[2015-12-01 12:31] emahags opened #15 "Support for more suse versions"
Please consider adding support for more suse versions. I'm especially interested in SLE[SD] 12 and SLED 11 but SLE[SD] 10 would be nice as well.

[2016-02-26 07:46] logicminds opened #18 "drop support for 1.8.7 and then remove json dependency"
1.8.7 is no longer supported.  Additionally, ruby 1.9.3 comes with json in the core codebase so there is no need to list json as a dependency.

This is causing things like:

[code]

[2016-03-02 02:01] mmoll commented on #15
The main thing is that somebody[tm] would need to fire up a respective boxto collect the facts, @emahags do you have access to SLES boxes?

[2016-03-02 02:03] mmoll commented on #18
Ruby 1.8.7 is used on RHEL/CentOS/OEL 6 with non-AIO Puppets, so in the respective tests Ruby 1.8.7 is still used. This can be workarounded in the Gemfile, see e.g. the Gemfile currently used in theforeman-puppet, @logicminds could you prepare a PR with such a change?

[2016-03-02 04:15] logicminds commented on #18
I understand that centos enjoys using really old rubies.  But who is developing puppet modules on centos 6 with ruby 1.8.7.  Puppet no longer supports it with puppet 3.8.  If your on windows you are using ruby 2.0.  If your on a mac you are running ruby 2.0. If your on some linux desktop than you are running bleeding edge.

[2016-03-02 04:20] logicminds commented on #18
Also I assume you wanted to do something like:

[code]

However, I am not sure how that would translate to a gemspec format.

[2016-03-02 04:33] logicminds opened #19 "add filter validation"
Would be great to have a class function that validates filter syntax.

[2016-03-02 10:40] mmoll commented on #18
@logicminds as there are a lot of RHEL 6 and SLES 11 boxes out there using the system Ruby for Puppet I guess the actual number is depressingly high. It's not about developing under Ruby 1.8, but testing.

[2016-03-02 12:50] mcanevet commented on #18
And RHEL5 is not EOL yet...

[2016-03-11 12:08] emahags commented on #15
@mmoll I do have access to those types of servers. I don't have access to them in vagrant though. Is there something you can run on a normal server to fetch all the data needed?

[2016-03-24 20:43] adamcrews opened #22 "Add windows facts"
It would be nice to have windows facts. #21 will take care of some of this.

[2016-03-25 07:33] #22 closed

[2016-03-25 07:40] #18 closed

[2016-03-27 17:06] mmoll commented on #15
I'd say (but I stand corrected) running `facter --json` on these systems and dropping the generated  output into the correct directories with the correct name should suffice.

[2016-08-03 18:24] logicminds opened #25 "use —show-legacy flag with facter 3+ facts"
Facter 3 by default does not show many of the facts that we are used to in pre facter 3 facts.  In order to have the "legacy facts" in the facts hash please use `--show-legacy` when producing the fact hash.

[2016-08-03 18:25] logicminds commented on #25
Without this, I can see this issue break many tests that rely on facterdb through rspec-puppet-facts as well as my own project puppet-repl.

[2016-08-04 07:04] #25 closed

[2016-09-08 19:27] petems opened #26 "AIX Fact dumps?"
AIX is only supported on Puppet Enterprise, and is borderline impossible to virtualize.

I have access to some AIX machines I could add this from, would that be something you'd accept a PR for? I've been developing some code against AIX and having some examples of facts in AIX would've been super helpful.

[2016-09-09 06:09] mcanevet commented on #26
@petems if it's not virtualizable than ok. Please dump facts on a clean AIX installation so that we have only the facts available to everyone.

[2016-09-30 22:39] logicminds opened #27 "allow loading of external fact hashes"
I would like the ability to load external fact hashes that are not part of the database.  I think this would be useful for two reasons.
1. allow user to utilize their own custom fact values that are not in the database for spec testing
2. allow user to utilize their own custom facts for hiera lookup validations.

https://github.com/nwops/puppet-repl/issues/38

[2016-10-06 11:39] #26 closed

[2016-10-25 13:08] maxgaulhofer opened #30 "support for more windows editions"
Please add support for:
- Windows Server 2008
- Windows Server 2008 R2
- Windows Server 2012
- Windows Server 2016
- Windows 10

[2016-10-28 08:59] fatmcgav opened #31 "Add '::sytemd' fact?"
I'm trying to use the '::systemd' fact exposed by 'camptocamp-systemd', however it's not included in FacterDB.

Would it be possible to include the '::systemd' fact in the FacterDB data?

[2016-10-28 09:20] mcanevet commented on #31
@fatmcgav it is not the scope of this project.
facterdb only have base facts available on base installation.

[2016-10-28 09:20] #31 closed

[2017-03-08 13:34] ekohl commented on #15
So SLES 11 and 12 have both been added. Not sure if SLES 10 is still interesting at this point given it's EOL. I'd suggest to close this issue now.

[2017-03-08 13:36] ekohl opened #35 "Release new version"
In git master there's support for OpenBSD 6 and SLES 12. It'd be useful if this was released into a gem.

[2017-03-08 14:00] emahags commented on #15
Great, thanks!

[2017-03-08 14:00] #15 closed

[2017-03-08 14:43] mcanevet commented on #35
done!

[2017-03-08 14:43] #35 closed

[2017-03-08 14:58] ekohl commented on #35
Awesome!

[2017-03-13 23:48] chrisowensboston opened #36 "Consider adding the os::distro fact"
Consider adding the os::distro fact. I run into puppet manifests that use codename to select templates, for example.

If you are interested I'll do this and submit a PR

[2017-03-14 07:51] mcanevet commented on #36
I don't understand this request. It looks like this fact is already present : https://github.com/camptocamp/facterdb/blob/master/facts/3.3/debian-8-x86_64.facts#L209-L220

[2017-03-14 18:22] chrisowensboston commented on #36
It is present for some OS and not for others. I noticed it missing for CentOS 6 and 7 and Redhat 6 and 7.

When I run Facter on a CentOS 6 machine, I get this:
[code]

[2017-03-14 19:32] mcanevet commented on #36
Maybe this fact requires `lsb-core` which is not installed by default on RHEL.

[2017-03-14 21:02] chrisowensboston commented on #36
I will set up a fresh centOS 6 and check. Will take a day or so until I can do it

Sent from handheld; pls excuse terseness...

-------- Original message --------
From: Mickaël Canévet <notifications@github.com>
Date: 3/14/17  15:32  (GMT-05:00)
To: camptocamp/facterdb <facterdb@noreply.github.com>
Cc: chrisowensboston <ctag@chris-owens.com>, Author <author@noreply.github.com>
Subject: Re: [campto

[2017-04-12 12:45] Betriebsrat opened #37 "Facts for archlinux release 4 are missing."
As stated in title.
Output for rake spec:
`No facts were found in the FacterDB for: [{:facterversion=>"/^2.4/", :operatingsystem=>"Archlinux", :operatingsystemrelease=>"/^4/", :hardwaremodel=>"x86_64"}]`

[2017-06-09 02:11] timhughes commented on #30
see #17

[2017-06-23 09:52] tdevelioglu opened #40 "Release new version"
If we could get a gem release with the 3.6 facts that would be appreciated :bowing_man:

[2017-06-23 11:25] mcanevet commented on #40
Done!

[2017-06-23 11:25] #40 closed

[2017-07-06 22:36] petems opened #41 "Add LinuxMint Facts"
Add LinuxMint facts

[2017-07-07 13:08] petems opened #43 "Add Debian Stretch"
Add Debian Stretch Support

[2017-07-07 13:17] mcanevet commented on #43
Waiting for Puppetlabs to release puppet-agent packages for stretch...

[2017-07-07 13:23] petems commented on #43
I thought we did? http://apt.puppet.com/dists/stretch/

[2017-07-07 13:25] petems commented on #43
Ah, not agent yet 😢

[2017-07-20 09:39] rtib opened #45 "Add support for facter 2.5"
With recent release of faster 2.5.0, many test fail witch
[code]

We are using facterdb 0.3.11

[2017-07-20 09:49] rtib commented on #45
Will be solved with https://github.com/camptocamp/facterdb/pull/44

[2017-07-20 09:49] #45 closed

[2017-07-26 05:28] rodjek commented on #43
I've generated Facter 2.x fact sets for stretch in #47 (no 3.x facts yet as no puppet-agent packages are available for stretch yet)

[2017-07-26 09:13] rodjek commented on #30
I've added Facter 2.x and 3.x facts for these platforms in #46

[2017-07-26 11:39] ekohl commented on #43
@rodjek I think you mean #46.

[2017-07-26 23:53] soxwellfb opened #47 "Add support for Facter 2.5"
Looks like Facter 2.5 came out on the 14 July, so appears to create an unfortunate situation where rspec-puppet-facts doesn't test anything if bundler happens to get the facter 2.5.0 gem, as it can't find any OSes in the FacterDB.

[2017-07-27 01:52] rodjek commented on #43
D'oh, thanks @ekohl!

[2017-07-27 09:20] DavidS commented on #47
This is addressed in #46 , which I just merged.

[2017-07-27 09:20] #47 closed

[2017-07-27 09:20] DavidS commented on #43
#46 was merged.

[2017-07-27 09:20] #43 closed

[2017-07-27 09:20] DavidS commented on #30
Fixed in #46.

[2017-07-27 09:20] #30 closed

[2017-08-31 16:25] mxey opened #49 "Fact package_provider is missing"
The `package_provider` fact is missing, probably because Facter only outputs it if called with `--puppet`? I assume FacterDB is mostly in the used in the context of Puppet spec testing, so I think supporting Puppet-specific facts makes sense

[code]

[2017-09-04 12:51] DavidS commented on #49
The `package_provider` fact is deployed by the [stdlib module](https://github.com/puppetlabs/puppetlabs-stdlib/blob/master/lib/facter/package_provider.rb), which is out of scope for current facterdb, as it needs to also work for testing modules that do not depend on the stdlib module.

[2017-09-04 12:51] #49 closed

[2017-09-04 16:00] b4ldr opened #51 "FreeBSD Support"
Hello,

Do you still support FreeBSD.  I am getting the following error

[code]

I am running the following versions
  * facter (2.5.1)
  * facterdb (0.3.12)

Im not too familure with the code of this project however a naive search shows that freebsd facts only exist upto version 2.4.  so for now i have added `facter < 2.5` to my gemspec as per this comment https://github.com/camptocamp/facterdb/p

[2017-09-05 09:19] DavidS commented on #51
You analysis is correct. If you have access to FreeBSD systems, you can use the scripts in https://github.com/camptocamp/facterdb/tree/master/facts to gather facts and submit them here for publication.

[2017-09-05 18:04] b4ldr commented on #51
I have updated the scripts and created a pull  (https://github.com/camptocamp/facterdb/pull/53)

which would update the freebsd facts

Thanks

[2017-09-05 19:42] xaque208 commented on #51
Thanks for the FreeBSD update @b4ldr.  Looking forward to it.

[2017-09-14 23:33] pillarsdotnet opened #57 "Add facts for Amazon Linux"
I generated the facts in #56 from a newly-provisioned Amazon Linux instance (AMI amzn-ami-hvm-2017.03.1.20170617-x86_64-gp2 ami-b2d056d3)

[2017-09-18 09:44] DavidS commented on #57
Thanks for your contribution!

No need to file an issue, when you already have a PR up.

[2017-09-18 09:44] #57 closed

[2017-09-21 12:28] mandos opened #58 "Wrong facts for Windows 2016(?)"
Looks like major release for Windows 2016 is same as Windows 10, it leads to two results when should be only one.

Checked for version:
facterdb: 0.3.12
ruby: 2.2.5p319

[code]

[2017-10-10 03:27] xaque208 commented on #51
@b4ldr Did you get a FreeBSD box working in https://github.com/camptocamp/facterdb/pull/59 ?  I'm trying to repllicate part of what you did there, but I can't get an image that works.

[2017-10-10 03:29] xaque208 commented on #51
[code]

[2017-10-10 09:12] b4ldr commented on #51
@xaque208 the only difference between yours and mine is that i used `bento/freebsd-11.0`[1]
and a slightly modified `get_facts.sh`[2]

[1]https://github.com/b4ldr/facterdb/blob/update_vagrant/facts/Vagrantfile#L132
[2]https://github.com/b4ldr/facterdb/blob/update_vagrant/facts/get_facts.sh

[2017-10-10 23:21] xaque208 commented on #51
Oh I kept thinking that the shell provider was failing due to the `pkg install`, but I didn't think to check `get_facts.sh`.  I'll look again in the evening.

[2017-10-11 04:24] xaque208 commented on #51
@b4ldr See #60.  I'm unable to get NFS to mount.  It just hangs.

[2017-10-11 09:41] b4ldr commented on #51
@xaque208 yes you need root to mount the freebsd shared folder, i have added a comment to your PR with the relevant info.  thanks

[2017-10-11 22:21] logicminds opened #61 "Similar tool created"
Not sure why github created a duplicate of this tool, when this one could have been augmented.  But check out the differences.  https://github.com/github/octofacts

I think the only thing needed to have this work for more organizations is to allow them to extend fact hashes by providing an external directory.  And some scripts to gather their own facts from puppetdb or similar methods.

Then add s

[2017-10-13 17:29] xaque208 commented on #51
Thanks @b4ldr.  I was able to get NFS mount and facter to run.  I'll need to look at this again to write the output, which looked like there might be errors on at least some of the versions, but I'll check again.

[2017-10-18 15:40] #27 closed

[2017-10-23 17:07] logicminds opened #65 "create new release"
Can we create a new release with the changes that were recently merged.  I have some pending downstream gems that are going to require the next release.

[2017-10-24 04:39] mcanevet commented on #65
@logicminds @DavidS @rodjek could you please update the CHANGELOG (maybe using PDK if this is relevant) according to recent changes. I didn't have time to look closely at them so I'm not really inclined to do it myself. Maybe this changes deserves an upgrade of the minor release number.
Once the CHANGELOG.md is good, I'll release a new version on rubygems.

[2017-10-24 09:53] DavidS commented on #65
Opened #66 with the CHANGELOG and new version for the external fact db feature.

[2017-12-01 18:19] xaque208 commented on #51
I keep meaning to come back to this.  Getting FreeBSD facts updated in this repo is blocking several other PRs that I'm trying to make progress on, I've just not been working on Puppet lately.

[2017-12-02 12:49] b4ldr commented on #51
@xaque208 i thought you refactored my pull and had it merged?  Let me know if there is something i can help with

[2017-12-04 21:27] xaque208 commented on #51
The code got merged, but I had some vagrant issues I never came back to so the facts themselves never got submitted @b4ldr.  Perhaps this week I can take another look at it.

[2017-12-06 20:37] b4ldr commented on #51
i have created https://github.com/camptocamp/facterdb/pull/68 im getting an error from facter on freebsd 11 (see below) which is prvcenting the script running
[code]

[2017-12-06 21:38] xaque208 commented on #51
@b4ldr Make sure you set a UTF-8 LANG for the environment, and it should work.

[2017-12-07 12:14] b4ldr commented on #51
yes thats seems to have got it

[2017-12-14 00:05] xaque208 commented on #65
May we get another release please?

[2017-12-14 07:35] mcanevet commented on #65
@DavidS can you prepare a CHANGELOG please?

[2017-12-14 12:02] #65 closed

[2017-12-16 09:59] rodjek commented on #58
This isn't a problem in FacterDB, but [a limitation of Facter <= 2.5.0](https://github.com/puppetlabs/facter/pull/1619)

[2018-02-21 22:00] xaque208 opened #71 "Updated OpenBSD Facts"
Currently, the newer facter versions are missing for OpenBSD.  We should update the data for OpenBSD to address this.

[2018-03-26 03:54] glennsarti commented on #58
Correct.  If you're purely looking at kernel versions the Client and Server versions match up
https://en.wikipedia.org/wiki/Comparison_of_Microsoft_Windows_versions#Windows_NT

E.g. Windows 8.1 == Server 2012R2.

[2018-03-26 06:15] glennsarti opened #77 "Remove duplicate default factset files"
There are many duplicate files in the default fact set which serve no purpose.  These should be removed and tests added to ensure they can not be re-added again.

[2018-03-26 07:10] glennsarti opened #78 "Remove/move invalid factset files"
There are quite a few factset files which are in the wrong directory, for example https://github.com/camptocamp/facterdb/blob/master/facts/1.6/sles-12-x86_64.facts is in 1.6 but has a facter version of "1.7.6".

These should removed or moved and tests added to ensure it doesn't happen again.

[2018-04-20 09:12] bodgit commented on #71
I'll sort these, just noticed that there are no facts for 2.5.x

[2018-05-01 12:41] timhughes opened #83 "Code doesnt handle facter point versions with 2 digits"
[code]

[2018-09-18 08:25] baurmatt opened #90 "Add facter 2.5 Gentoo facts"
The latest facts for Gentoo in facterdb are those of Facter 2.4. As the default Facter version for all rspec Tests is currently 2.5, we desperately need updated facts for it.

I hope to provide a PR soon.

[2018-09-18 12:10] baurmatt opened #91 "facts/2.5/fedora-28-x86_64.facts broken"
#89 broke the CI pipeline because of invalid JSON in facts/2.5/fedora-28-x86_64.facts

I will provide a PR.

[2018-09-18 12:12] baurmatt opened #92 "Git+SSH Url broken Travis CI"
4075d47ad0e2fadbe71290a0a454f4e5d1e2e100 broken the Travis-CI builds see https://travis-ci.org/camptocamp/facterdb/jobs/349694554#L448

It will provide a PR which switches the submodule from Git+SSH to Git+HTTPS

[2018-09-18 13:58] #90 closed

[2018-09-18 13:58] #91 closed

[2018-09-18 13:58] #92 closed

[2018-11-13 10:20] mandos commented on #58
@rodjek Thanks for clarification.

[2018-11-13 10:20] #58 closed

[2018-12-19 15:34] wiebe opened #98 "3.11 facts for Debian Stretch and Ubuntu 18.04 are missing distro information"
The 3.11 facts for Debian Stretch are missing distro information, this breaks it working with rspec-puppet-facts for example. All other 3.11 facts do seem to include the missing facts.

The facts are present in the 3.10 version: https://github.com/camptocamp/facterdb/blob/master/facts/3.10/debian-9-x86_64.facts
[code]
But these facts are missing in the 3.11 version: https://github.com/camptocamp/f

[2019-05-04 01:58] kenyon commented on #36
Yes, the os.distro fact comes from lsb_release, so the package containing that program needs to be installed (redhat-lsb-core on Fedora and derivatives, lsb-release on Debian and derivatives).

[2019-05-04 13:57] mcanevet commented on #36
I think this project should not supports facts that are not available by default.
I think there are standard facts that could be used instead of `os::distro`.

[2019-07-01 15:00] rnelson0 opened #101 "New release"
The Puppet Development Kit includes pinned gems and that includes facterdb 0.6.0. That is unfortunately a bit behind the times and leads to things like RHEL 6 and 7 not including the `networking` facts hash. It would be nice to see a newer version they could include in the next PDK release.

[2019-07-08 21:04] alexjfisher opened #102 "Debian 10 facts"
Debian 10 was [released](https://www.debian.org/News/2019/20190706) on the 6th of July.

[2019-07-08 21:56] alexjfisher commented on #102
So far, not as easy as I'd hoped.
* https://app.vagrantup.com/debian/boxes/buster64 hasn't been updated yet.
* There are no puppetlabs packages yet.
* get_facts needs updating

FWIW, Debian 10 ships with puppet 5.5.10 and facter 3.11.0.

[2019-07-15 01:04] #61 closed

[2019-07-15 01:17] rodjek commented on #51
As of #104, we should have up to date factsets for FreeBSD 11 & 12.

[2019-07-15 01:17] #51 closed

[2019-07-15 01:59] rodjek commented on #101
@rnelson0 I'm working on closing out some open issues and updating factsets to get ready for a release :)

[2019-07-15 02:00] rodjek commented on #77
Fixed by #79

[2019-07-15 02:00] #77 closed

[2019-07-15 02:00] rodjek commented on #78
Fixed by #79

[2019-07-15 02:00] #78 closed

[2019-07-15 02:34] rodjek commented on #36
I agree with @mcanevet that the facterdb factsets should represent the facts that are available on a system by default, otherwise they're not accurate representations.

[2019-07-15 02:34] #36 closed

[2019-07-15 10:18] #37 closed

[2019-07-16 02:06] #41 closed

[2019-07-17 00:19] #98 closed

[2019-07-17 00:43] #71 closed

[2019-07-17 16:19] alexjfisher commented on #102
https://app.vagrantup.com/debian/boxes/buster64/versions/10.0.0 was released earlier today.

[2019-07-18 16:25] sirinek opened #115 "solaris 10 facts are not found"
The solaris 10 fact file is named solaris-10-i386.facts instead of solaris-10-i86pc.facts which is what facterdb is looking for.

I have renamed the fact file and sent a PR. In the same PR I have included factsets for Solaris 10 on facter 2.5 and facter 3.11. The one i sent last year that got merged in was for 3.9.

[2019-07-20 00:47] rodjek commented on #115
Fixed by #116

[2019-07-20 00:47] #115 closed

[2019-07-22 03:17] #102 closed

[2019-07-22 11:06] Betriebsrat commented on #37
thank you!

[2019-07-22 22:40] #101 closed

[2019-07-26 11:02] crazymind1337 opened #123 "undefined method `downcase' for 0.8.1"
Heyho,

after the new release 0.8.1 our rspec are broken due to `undefined method `downcase'`. They have been working with 0.8.0.

[code]

Kind Regards,
Mike

[2019-07-27 00:29] rodjek commented on #123
@crazymind1337 which fact set are you loading when this fails?

[2019-07-29 11:17] crazymind1337 commented on #123
Set environment variable to reproduce this order, for ex. on Linux `export RSPEC_PUPPET_FACTS_UNSUPPORTED_ORDER=14038`

[2019-07-29 11:17] crazymind1337 commented on #123
Set environment variable to reproduce this order, for ex. on Linux `export RSPEC_PUPPET_FACTS_UNSUPPORTED_ORDER=23334`

[2019-07-29 11:18] crazymind1337 commented on #123
We don't use a static set for unsupported facts. It is always another set and it is always failing.

[2019-08-05 09:30] raphink opened #124 "Update removed selinux facts"
Update 1a9c20c3b05a37e9c52c73151384b7977e8e8b0c to CentOS facts removed `selinux_*` facts which were listed before. @rodjek do you think you could redo these updates without deactivating selinux?

[2019-08-12 01:31] rodjek commented on #124
This is an unfortunate artifact of generating the fact sets on different base images. I'm pulling down the official CentOS 6 vagrant image to see what the default behaviour is (selinux enabled or disabled) and will regenerate the fact sets if it defaults to selinux enabled.

[2019-08-12 02:00] rodjek commented on #124
It does indeed ship with selinux enforcing by default. I'll rebuild the fact sets today, sorry about that!

[2019-08-12 12:44] raphink commented on #124
Thanks very much @rodjek 	!

[2019-08-26 23:29] #124 closed

[2019-08-30 09:37] bodgit opened #127 "IP address facts have disappeared"
It looks like #124/#125 has lost the `$::ipaddress` fact (along with maybe some other network interface-related facts). It almost looks like the facts have been regenerated on a machine with no network interfaces present.

[2019-08-31 10:24] tobias-urdin commented on #127
Same here, we pinned facterdb to 0.8.0 for now.

[2019-09-02 01:42] rodjek commented on #127
Interesting, it looks like it's only happening on facts generated from the EL7 image.

[2019-09-03 06:40] #127 closed

[2019-10-18 13:16] alexjfisher opened #132 "Archlinux legacy facts missing in 3.x fact sets."
eg There is no `operatingsystem` fact.  This makes them unusable with `rspec-puppet-facts`.
The `get_facts.sh` script appears correct (it uses `facter --show-legacy`), so I don't know why they are missing.

[2019-11-08 18:52] threepistons opened #135 "Raspbian support"
I manage a fleet of over 300 Raspberry Pis using Puppet so I will be looking to submit a pull request in the near-future to add Raspbian support for versions 9 and 10.

[2019-12-06 08:44] dhoppe commented on #132
@alexjfisher You might want to close this issue since it has been fixed via #130.

[2019-12-06 10:09] #132 closed

[2019-12-11 13:15] baurmatt opened #139 "Please provider Gentoo facts for 3.14"
There are currently not facts for 3.14. I will try to get a PR ready.

[2019-12-12 15:52] baurmatt commented on #139
Wow, this was one of the worst experience I had so far. Upgrading Gentoo on a MacBook Pro in a VirtualBox VM with 3 vCPUs is just plain horror. This was necessary because the latest Vagrant image from Gentoo (created 17 days ago) was incapable of installing Ruby/Bundler/Puppet without dependency conflicts. After almost 8h of compiling I can now deliver a fresh 3.14 factset for Gentoo.

I hope this

[2019-12-17 20:48] #139 closed

[2020-02-08 11:50] bastelfreak opened #148 "Error `One or more the json documents could not be parsed. Run jgrep -v for to display documents`"
Hi people,

At Vox Pupuli we recently got a [PR](https://github.com/voxpupuli/puppet-zabbix/pull/657) to add Windows support. That PR also added several windows operating systems to the metadata.json:

[code]

Since that we also see the following messages in [travis runs]():

[code]

My wild guess is that some of those facts are broken? However I tested them with `jq` and they all seem to contain

[2020-02-14 23:06] seanmil opened #150 "RHEL 7 os.release.full values are incorrect"
The os.release.full value (seen here https://github.com/camptocamp/facterdb/blob/master/facts/3.14/redhat-7-x86_64.facts#L336) is incorrect for RHEL systems. CentOS systems use that style full version number, but RHEL would be (in this example) just `7.6`, not `7.6.1810`. This seems incorrect in facterdb for a number of versions of facter.

[2020-02-27 04:35] rodjek commented on #148
Yeah, we have [tests](https://github.com/camptocamp/facterdb/blob/087d1efee727816d30740d30d70c27fa316f0a8e/spec/facts_spec.rb) that ensure that all the committed fact sets contain valid JSON, which makes this smell like a jgrep issue.

[2020-02-27 05:27] rodjek commented on #148
It is indeed a bug in jgrep. When it tries to [convert certain values before comparing](https://github.com/ploubser/JSON-Grep/blob/de89686ee24afc0b9172c78970846a81f24ba98b/lib/jgrep.rb#L122), it uses a regex with an unescaped `.` and so it thinks that `2012R2` is a float and tries to convert it, leading to it raising an error `Error - invalid value for Float(): "2012R2"` which it unfortunately swa

[2020-02-28 09:49] #135 closed

[2020-04-24 03:48] yakatz opened #153 "Overriding BSD architecture or missing OS entirely"
If an operating system version is specified, `on_supported_os` will force `hardwaremodel` to `amd64`:
https://github.com/mcanevet/rspec-puppet-facts/blob/e02496555b0a79c0c0434ed99557b7097c5771b4/lib/rspec-puppet-facts.rb#L58-L59

But, if a version isn't specified, it won't make this change:
https://github.com/mcanevet/rspec-puppet-facts/blob/e02496555b0a79c0c0434ed99557b7097c5771b4/lib/rspec-puppe

[2020-08-07 17:19] logicminds opened #157 "facterdb conflict"
This was previously fixed 21 days ago via #156 .  Can we get a new release of facterdb

`Unable to activate facterdb-1.4.0, because facter-4.0.14 conflicts with facter (< 4.0.0) (Gem::ConflictError)`

[2020-09-23 20:42] npwalker opened #158 "FacterDB appears to not give a os.family for solaris 11 on facter 4"
I don't know how to figure out the issue but I see that on this build my tests failed to find os.family on solaris 11.

This issues is isolated to facter 4 because pinning to facter 2 resolves the issue.

https://travis-ci.com/github/npwalker/recursive_file_permissions/jobs/389924871

I suspect everything one would need is in the travis output but let me know if not.

[2020-09-23 20:48] npwalker commented on #158
okay I guess this is probably just https://github.com/camptocamp/facterdb/pull/156

and that means we just need a release containing that and I suspect this issue would go away

[2020-10-10 03:31] #19 closed

[2020-11-13 15:04] sanfrancrisko opened #161 "New gem release required prior to Puppet 7 to resolve dependency issues"
The Puppet 7 release is using `facter 4` by default and given `facterdb#1.4.0` has a restriction in place of `facter < 4.0.0`, it will cause dependency resolution issues for anyone using Puppet 7.x

This restriction was removed in #156 but there has been no gem release since then. If a new gem could be released, it'll mitigate a lot of trouble when Puppet 7 goes live on `2020-11-17`.

[2020-11-16 20:08] op-ct commented on #157
@raphink @rodjek Seconding this: could we get a new release of the facterdb gem?

Until a fixed gem with #156 is released, it's necessary to locally build and install the facterdb gem in order to run @logicminds' `debug::break()` in Bolt plans.  According to #161, the same problem breaks Puppet 7.

[2020-11-19 12:58] DavidS commented on #157
There has been a release of 1.5.0 this morning.

[2020-11-19 12:58] #157 closed

[2020-11-19 12:58] DavidS commented on #161
There has been a release of 1.5.0 this morning.

[2020-11-19 12:58] #161 closed

[2020-11-19 12:59] DavidS commented on #158
There has been a release of 1.5.0 this morning with the pin relaxed. Feel free to re-open this or report a new issue if the problem still persists.

[2020-11-19 12:59] #158 closed

[2020-12-22 17:35] ekohl opened #164 "Include CentOS 8 stream facts"
I'm looking at supporting CentOS 8 Stream but unsure how to identify this. The problem is that it also identifies as CentOS. The biggest difference is that it doesn't have a minor version:
[code]

There are examples (https://github.com/puppetlabs/puppetlabs-postgresql/pull/1222) which do regex matching and expect a minor version so I think it important that this can be tested.

[2021-07-16 14:49] maccelf opened #173 "Add AlmaLinux"
Add AlmaLinux support

[2021-07-16 16:40] ghoneycutt commented on #173
Hi @maccelf You can submit facts from that OS.

https://github.com/voxpupuli/facterdb#add-new-operating-system-support

[2021-07-16 23:22] alexjfisher commented on #173
@maccelf a PR would be great, but meanwhile I agree that we need to add facts for the new RedHat clones. Do you think it’s just a case of copying the RedHat facts with a couple of modifications or are there more substantial differences?

[2021-07-19 09:49] maccelf commented on #173
Hi @alexjfisher, yes i think copying the RedHat facts with a couple of modifications would be enough. But i am added `almalinux/8` in Vagrantfile. And when i run `facter operatingsystem` they returned me `RedHat` because of what the `get_facts.sh` script saves facts in `redhat-8-x86_64.facts` rather than in `almalinux-8-x86_64.facts`,  but in my local machine `facter operatingsystem` returned `Alm

[2021-07-19 09:58] ekohl commented on #173
Perhaps you run it with a too old version of Facter that doesn't recognize AlmaLinux?

[2021-07-19 10:05] maccelf commented on #173
I am using Facter 3.14

[2021-07-19 10:08] ekohl commented on #173
Which exact version? It was only 3.14.17 or 3.14.18 that added support.

[2021-07-19 10:48] maccelf commented on #173
Oh, thank you. My exact version Facter on Vagrant VM is 3.14.1 . Then maybe you know why `get_facts.sh` script install Facter 3.14.1 instead 3.14.18 ?

[2021-07-19 14:32] #173 closed

[2021-07-19 14:41] ekohl commented on #173
Given the PR you've submitted, have you figured it out?

[2021-07-19 14:56] maccelf commented on #173
Yea, thank you

[2021-10-18 11:10] tobias-urdin commented on #164
From facter 4.0.52 this is populated without having lsb_release, see https://github.com/puppetlabs/facter/pull/2280

[2021-10-20 05:52] tobias-urdin commented on #164
I agree with you, was mainly for posterity since this thread comes up high in Google search result to help others out. Making sure we have stream facts, using a later version of facter and bumping version abit higher seems like a preferred way to me.

[2021-10-29 19:42] michael-riddle opened #200 "Several OS files under version 4.2 are missing the mountpoints fact"
Hi Folks,

Our spec tests for our internal projects leverage the mountpoints fact and we noticed recently (within the last month) that the spec tests were failing due to mountpoints not actually being set. Looking at the following files in the 4.2 directory, we found many of them were missing that fact. Here's the list:

[code]

[2021-10-30 08:14] bastelfreak commented on #200
I am not sure which part creates that fact
* maybe facter was installed but puppet wasnt
* maybe a regression in facter 4.2

do you have facter 4.2 machines where this fact is present?

[2021-11-01 14:02] michael-riddle commented on #200
I do not currently, this popped up during spec tests, we specifically saw the issue in rhel 8 and that caused us to poke around in the other facterdb facts to see if it was actually missing from the fact files or not, that's where the list above came from.

I could fairly easily spin up a rhel 8 box, but the other OS's in the list might be a bit more difficult since we don't currently have an auto

[2021-11-01 14:29] bastelfreak commented on #200
every factset is a good step forward, so even a PR for RHEL8 is helpful :) This repository contains also a Vagrant file for most of the operating systems.

[2021-11-04 21:34] michael-riddle commented on #200
I created a PR to cover as many of these OS's as I could using the Vagrantfile within facts. There are a few outstanding ones that I couldn't figure out how to get the facts for using the tools provided in the repo as it exists now, but those should be a good start.

[2021-11-05 18:14] hbrown-uiowa commented on #200
https://github.com/voxpupuli/facterdb/pull/206 should fix the issue going forward.

[2021-11-05 19:00] hbrown-uiowa opened #208 "Regression test to verify factsets have required facts"
It would be nice to have some code to run that would allow a fact set to be tested for the appropriate set of facts as listed on https://puppet.com/docs/puppet/7/core_facts.html (I'm not sure how often that list changes). This could catch issues like the missing mountpoints fact.

[2021-11-05 20:06] #200 closed

[2021-11-09 16:38] cdenneen opened #211 "service_provider centos 7"
facter 4.0 had it but 4.1/4.2 do not:

[code]

Is this being removed or is there a reason this isn't consistent?

[2021-11-09 16:45] bastelfreak commented on #211
I guess the facter 4 factset wasnt created in a clean environment. service_provider is a fact from stdlib, not facter core. facterdb usually only has core facts.

[2021-11-09 20:37] ekohl commented on #211
With voxpupuli-test there's code to add the stdlib facts. In https://github.com/voxpupuli/voxpupuli-test/blob/master/lib/voxpupuli/test/facts.rb the `add_mocked_facts!` should add the facts dynamically if stdlib is present in your metadata.

[2021-11-16 10:43] ekohl commented on #211
I believe that with #213 this can be considered resolved.

[2021-11-16 10:43] #211 closed

[2021-11-24 18:41] msalway opened #215 "Factsets for FreeBSD 13 have a blank hostname"
It looks like when the factsets were regenerated under #210 there have been some unintentional changes to hostname related facts for the FreeBSD 13 factsets that were regenerated.

hostname is now empty string
fqdn has been removed entirely
domain has become "divms.uiowa.edu"

This has happened to both the legacy top-level facts and those nested within the networking tree.

As a result spec tests

[2021-11-24 20:15] bastelfreak commented on #215
Hi, thanks for raising the issue. Are you ablento provide a PR with fixed factsets?

[2021-11-24 20:17] alexjfisher commented on #215
Even manually fixing up the broken sets (instead of trying to regenerate everything) would be good.

[2021-11-25 19:27] #215 closed

[2022-02-07 11:14] traylenator commented on #164
+1 I agree https://github.com/voxpupuli/facterdb/blob/master/facts/4.2/centos-8-x86_64.facts

should become a stream node.

[2022-02-07 11:34] ekohl commented on #164
I updated https://github.com/voxpupuli/facterdb/pull/187. I'd be happy if we could merge that and then change the CentOS 8 box as well.

[2022-10-31 21:07] anders-larsson commented on #150
#257  fixes this issue, at least if facter 4.2 is used where the files has been updated to use correct values.

[2022-10-31 21:11] #150 closed